# v++ link config for the ML-KEM-512 NTT/INTT kernel on Alveo U55C.
# One compute unit; input buffer in HBM[0], output buffer in HBM[1].
platform=xilinx_u55c_gen3x16_xdma_3_202210_1

[connectivity]
nk=ntt_krnl:1:ntt_krnl_1
sp=ntt_krnl_1.in:HBM[0]
sp=ntt_krnl_1.out:HBM[1]
